<!-- 
  File: popup.html
  Description: This is the main HTML document for the podStation Popup App. It contains the structure and content for the popup window of the podStation application.
  The popup includes a header with the main title and logo, and a section controlled by the 'feedsInPageController' that displays the feeds available on the page.
  Each feed is represented with its title and URL, and has an associated action for adding the feed if it's not already added.
-->
<html ng-app="podstationPopupApp">

<body class="popup_body">
	<!-- Header section of the popup -->
	<div id="header">
		<!-- Main title and logo of the popup -->
		<h1 id="mainTitle"><img src="images/rss-alt-2x.png"></img> podStation - <a id='open' href='#'>{{ 'open' |
				chrome_i18n }}</a></h1>
	</div>
	<!-- Controller for the feeds in the page -->
	<div ng-controller="feedsInPageController">
		<h2>{{ 'feeds_in_page' | chrome_i18n }}</h2>
		<!-- Section for displaying the feeds in the page -->
		<div id="feedsInPage">
			<table>
				<tbody>
					<!-- Repeating for each feed in the page -->
					<tr ng-repeat="feed in feedsInPage">
						<!-- Displaying the title of the feed -->
						<td nowrap>{{feed.title}}</td>
						<!-- Displaying the URL of the feed -->
						<td>{{feed.url}}</td>
						<td nowrap>
							<!-- Checkmark icon if the feed is added -->
							<i ng-if="feed.added" class="fa fa-check" title="{{ 'feed_in_list' | chrome_i18n }}"></i>
							<!-- Plus icon to add the feed if not added -->
							<a ng-if="!feed.added" href='#' title="{{ 'add_feed' | chrome_i18n }}..."
								ng-click="feed.addPodcast()"><i class="fa fa-plus"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>